* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* styles for 02-timer task */
input {
  font-size: 1em;
}

.timer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: green solid 1px; */
}

.label {
  text-transform: uppercase;
  font-size: 0.6em;
  line-height: 1.1;
  width: 5em;
  text-align: center;
}

.value {
  font-size: 2em;
}

.last-minute {
  color: coral;
}
