.form button,
.form input {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 1.4em;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 0.5em;
  align-items:flex-end;
}

.form > button {
  height: 1.5em;
}

