/* styles for 02-timer task */

.timer {
  margin-top: 1em;
  display: flex;
  gap: 1.3em;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: green solid 1px; */
}

.label {
  text-transform: uppercase;
  font-size: 0.6em;
  width: 5em;
  text-align: center;
  /* outline: solid green; */
}

.value {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 2.5em;
  /* outline: solid red; */
  line-height: normal;
}

.final-count {
  color: coral;
}

.timer-btn {
  width:auto;
  height: auto;
}
